.cache
.dap-breakpoints
.extension/
.last-package-update-day
.lsp-session*
.org-id-locations
auto-save-list
backups
bookmarks
config.el
eln-cache
elpa
elpaca
eshell
gdb_window_configuration
history
ido.last
image-dired
local/cmake-integration.el
logview-cache.extmap
nov-places
projects
recentf
session.*
straight
tramp
transient
tree-sitter/
eca/
elisp-autofmt-cache/
places
url
.cask
/cmake-integration/
/vulpea.db
