bookmarks
config.el
.cache
backups
elpa
ido.last
transient
.last-package-update-day
eshell
.org-id-locations
history
recentf
.lsp-session*
projects
tramp
nov-places
local/cmake-integration.el
straight
.extension/
.dap-breakpoints
eln-cache
session.*
auto-save-list
